.footer {
    background-color: $footer-background-color;
    padding: 60px 0;

    &-container {
        text-align: center;
    }

    &__logo {
        display: block;
        margin-bottom: 20px;
    }

    &-address {
        margin-bottom: 60px;

        & li+li {
            margin-top: 8px;

        @media screen and (min-width: 1200px) {
            margin-top: 9px;
        }
        }
    
        &__item {
            font-style: normal;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &--address {
                color: $accent-white-color;
            }
    
            &--link,
            &--tel {
                color: rgba(255, 255, 255, 0.6);
            }
    
            &:hover,
            &:focus {
                color: $accent-color;
            }
        }
    }

    @media screen and (min-width: 768px) {
        &-container {
            @include centeredFlex($align: baseline);
            flex-wrap: wrap;
        }
        &__links {
            display: inline-block;
            margin-left: 76;
            margin-right: 165px;
        }
    }


    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
        &-container {
            text-align: left;
        }
    
        &__links {
            margin-right: 70px;
            margin-left: 0;
        }        
    }
}

.social {
    margin-bottom: 60px;
    & a+a {
        margin-left: 6px;
    }

    &__invite {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $accent-white-color;
        margin-bottom: 20px;
    }

    &__link {
        display: inline-block;
        background-size: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $buttom-bg-hover-color;
        }
    }

    &__icon {
        fill: $accent-white-color;
        margin-top: 12px;
        @media screen and (min-width: 1200px) {
            margin-left: 12px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: inline-block;
    }
}

.subscribe {
    display: inline-block;
    margin-left: auto;

    &__invite {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $accent-white-color;

        @media screen and (min-width: 1200px) {
                margin-bottom: 20px;
            }
    }
    
    &__input {
        display: block;
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: inherit;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        padding-left: 16px;
        margin: 20px auto;

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: auto;
    }
    
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        &__form {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            height: 50px;
        }
    }
}