// colors
$accent-color: #2196F3;
$accent-white-color: #FFFFFF;
$logo-black-color: #000;
$main-headers-color: #212121;
$main-text-color: #757575;
$footer-background-color: #2F303A;
$feature-background-color: #E5E5E5;
$team-background-color: #F5F4FA;
$buttom-bg-hover-color: #188CE8;
$border-color: #ECECEC;
$samples-border-color: #EEEEEE;
$background-color: #C4C4C4;
$clients-color: #AFB1B8;
// fonts
$font-family-body: 'Roboto',
 sans-serif;
$font-family-logo: 'Raleway',
sans-serif;